@model DeleteThis

<form action="CreatePrivacy" method="post" >





    <input asp-for="ChatRoomId" class="form-control" />
   
    <input asp-for="Payed" type="checkbox"  onchange="this.value=this.checked">


        <button type="submit" class="btn btn-primary btn-lg">Login</button>


</form>